# npm file
node_modules/

# Temporary resource
/external-resources
/tools
/firmwares
/drivers
/translations

# Build dist
dist/

# Backup releases (downloaded from releases during build)
backup-releases/

# Mac
.DS_Store
